$primary-white: rgb(245, 245, 245);
$secondary-white: rgb(230, 230, 230);
$terciary-white: #f9f3f1; // Offi

// $primary-black: rgb(15, 15, 15); // Offi
// $secondary-black: #232323; // Offi
$primary-black: rgb(75, 75, 75);
$secondary-black: rgb(100, 100, 100);
$terciary-black: rgb(125, 125, 125);

$primary-blue: #002233;
$secondary-blue: #0066FF;
$terciary-blue: #B6CDE8;

$primary-red: #E42618; // Offi
$secondary-red: #F1948A; // Offi
$terciary-red: #F1948A;

$cours-color: #8ea1b5;
$shop-color: #c6538c;
$podcast-color: #93b893;

// Border-radius
$round: 50rem;
$half-round: 16px;
$half-inside-round: 10px;

// Police d'écriture
$primary-font: 'Poppins', sans-serif;

// Taille d'écriture
$small-text: 0.75rem;
$p-text: 1rem;
$big-text: 1.1rem;
$h6-text: 1.2rem;
$h5-text: 1.5rem;
$h4-text: 2rem;
$h3-text: 3rem;
$h2-text: 4rem;
$h1-text: 6rem;

//section > div {
//  max-width: 1600px;
//}


.btn {
  position: relative;
  display: inline-block;
  color: $primary-white;
  font-weight: 600;
  text-align: center;
  z-index: 2;
  background-color: transparent;

  > a, > div {
    position: relative;
    display: block;
    color: inherit;
    z-index: 1;
    padding: .8rem 1.2rem;
    background-color: transparent;

    &::before {
      position: absolute;
      display: block;
      content: '';
      z-index: -1;
      transform: skew(-12deg);
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;

      // Effet d'ombre
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    > div {
      font-size: $p-text;
      color: inherit;
    }
  }

  &.btn-icon-forward {
    > div, > a {
      display: flex;
      align-items: center;
      color: $primary-white;
      padding-right: 1rem;

      > div {
        margin-right: .47rem;
      }

      ion-icon {
        color: $primary-white;
        font-size: $h5-text;
      }
    }
  }

  &.btn-icon-backward {
    > div, > a {
      display: flex;
      align-items: center;
      color: $primary-white;
      padding-left: 1rem;

      > div {
        margin-left: .47rem;
      }

      ion-icon {
        color: $primary-white;
        font-size: $h5-text;
      }
    }
  }

  &.btn-icon {

    > a, > div {
      display: flex;
      align-self: center;
      padding: 1.2rem;
    }

    ion-icon {
      color: $primary-white;
      font-size: $h5-text;
    }
  }

  &.btn-primary div::before, &.btn-primary a::before {
    background-color: $primary-red;
  }

  &.btn-secondary div::before, &.btn-secondary a::before {
    background-color: $secondary-red;
  }

  &.btn-shop div::before, &.btn-shop a::before {
    background-color: $shop-color;
  }

  &.btn-podcast div::before, &.btn-podcast a::before {
    background-color: $podcast-color;
  }

  &.btn-cours div::before, &.btn-cours a::before {
    background-color: $cours-color;
  }

  &::after {
    position: absolute;
    display: block;
    content: '';
    z-index: -1;
    transform: skew(-12deg);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $secondary-black;
    transition: .4s;
    // Effet d'ombre
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  // Animation sur le :hover
  &:hover::after {
    transform: skew(-12deg) translate(-.4rem, .4rem);
  }

  &.btn-no-hover {
    &:after {
      display: none;
    }
  }

  &.pointer {
    cursor: pointer;
  }
}

.router-link {

  text-decoration: none;

}

.sect3 {
  padding-bottom: 17.5rem;

}

section {
  min-height: 60vh;
}

// Class interactive pour JS
.header-shrink {
  height: 5rem !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.header-logo-shrink {
  width: 6.5rem !important;
}

.header-logo-shrink img {
  top: -2.5rem !important;
  height: 6rem !important;
  width: 6rem !important;
}

.header-hidden {
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 1024px) {

  // Couleurs
  $primary-white: rgb(245, 245, 245);
  $secondary-white: rgb(230, 230, 230);
  $terciary-white: rgb(249, 243, 241); // Offi

  // $primary-black: rgb(15, 15, 15); // Offi
  // $secondary-black: #232323; // Offi
  $primary-black: rgb(75, 75, 75);
  $secondary-black: rgb(100, 100, 100);
  $terciary-black: rgb(125, 125, 125);

  $primary-blue: #002233;
  $secondary-blue: #0066FF;
  $terciary-blue: #B6CDE8;

  $primary-red: #E42618; // Offi
  $secondary-red: #F1948A; // Offi
  $terciary-red: #F1948A; // Offi

  $cours-color: #8ea1b5;
  $shop-color: #c6538c;
  $podcast-color: #93b893;

  // Border-radius
  $round: 50rem;
  $half-round: 16px;

  // Police d'écriture
  $primary-font: 'Poppins', sans-serif;

  // Taille d'écriture
  $small-text: 1.25rem;
  $p-text: 0.8rem;
  $big-text: 1.2rem;
  $h6-text: 1.7rem;
  $h5-text: 2.4rem;
  $h4-text: 2rem;
  $h3-text: 3.8rem;
  $h2-text: 4.9rem;
  $h1-text: 6.4rem;

  html, body {
    margin: 0;
    padding: 0;
    background-color: $terciary-white;

    // Barre de scroll
    scrollbar-color: $primary-red $secondary-black;

    ::-webkit-scrollbar {
      width: 8px
    }

    ::-webkit-scrollbar-track {
      background: $secondary-black;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: $primary-red;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:active {
      background-color: $secondary-red;
    }
  }

  * {
    font-family: $primary-font;
    color: $primary-black;
    font-size: $p-text;
  }

  section:last-of-type {
    &::before {
      background-size: 200%;
      background-position-x: 30%;
    }
  }

  .btn {
    position: relative;
    display: inline-block;
    color: $primary-white;
    font-weight: 600;

    > a, > div {
      padding: 0.9rem 1.5rem;

      > div {
        font-size: 1rem;
      }
    }

    &.btn-icon-forward {
      div {
        display: flex;
        align-items: center;
        color: $primary-white;

        div {
          margin-right: .47rem;
        }

        ion-icon {
          color: $primary-white;
          font-size: $h5-text;
        }
      }
    }

    &.btn-icon-backward {
      div {
        display: flex;
        align-items: center;
        color: $primary-white;

        div {
          margin-left: .47rem;
        }

        ion-icon {
          color: $primary-white;
          font-size: $h5-text;
        }
      }
    }

    &.pointer {
      cursor: pointer;
    }
  }

  .header-shrink {
    height: 4.6rem !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  }
  .header-logo-shrink {
    width: 6.5rem !important;
  }
  .header-logo-shrink img {
    top: -3.3rem !important;
    height: 5.7rem !important;
    width: 5.7rem !important;
  }
}